
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    border: 5px solid black;
}

h1 {
    margin: 0 auto;
    color: red;
    text-align: center;
    padding: 20px 0;
}
img {
    max-width: 100%;
    height: auto;
    display:block;
    margin: 0 auto;
}

.what,
.what2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    font-weight: normal;
}

.what h1,
.what2 h1 {
    color: #0078d4;
}

.what h4,
.what2 h4 {
    color: #555;
    line-height: 1.5;
    
}

.what2 ol {
    margin: 10px 0;
}

.what2 ol li {
    margin-bottom: 10px;
}

.bold {
    font-weight: normal;
}

.bold::after {
    font-weight: bold;
    content: ":";
}

button {
    display: block;
    margin: 0 auto;
    padding: 0.8rem;
    color: orange;
    background-color: rgb(30, 30, 192);
}